<h1><%= @stop.StopNumber %></h1>

<p><%= @stop.StopDescription %></p>
<p><%= @stop.Error %></p>
<p><%= @stop.RouteNumber %></p>
<p><%= @stop.RouteDirectionID %></p>
<p><%= @stop.RouteDirection %></p>
<p><%= @stop.RouteHeading %></p>
